In [11]:
import numpy as np

# Set the random seed for reproducibility
np.random.seed(42)

# Number of groups and observations per group
G = 10
N = 50

# Number of individual-level predictors
p = 3

# Generate group-level predictors
Z = np.random.normal(loc=0, scale=1, size=(G, p))

# Generate individual-level predictors
X = np.random.normal(loc=0, scale=1, size=(G * N, p))

# Generate group-level parameters
beta_0 = np.random.normal(loc=0, scale=1)
beta_z = np.random.normal(loc=0, scale=1, size=p)

# Generate individual-level parameters
beta = np.random.normal(loc=0, scale=1, size=(G * N, p))

# Generate the response variable
y = beta_0 + np.sum(beta_z * Z, axis=1) + np.sum(beta * X, axis=1)

# Add noise to the response variable
epsilon = np.random.normal(loc=0, scale=0.1, size=G * N)
y += epsilon

ValueError: operands could not be broadcast together with shapes (10,) (500,)

In [8]:
import pandas as pd

train = pd.read_csv(
    "https://gist.githubusercontent.com/ucals/"
    "2cf9d101992cb1b78c2cdd6e3bac6a4b/raw/"
    "43034c39052dcf97d4b894d2ec1bc3f90f3623d9/"
    "osic_pulmonary_fibrosis.csv"
)
train.head()

                     Patient  Weeks   FVC    Percent  Age   Sex SmokingStatus
0  ID00007637202177411956430     -4  2315  58.253649   79  Male     Ex-smoker
1  ID00007637202177411956430      5  2214  55.712129   79  Male     Ex-smoker
2  ID00007637202177411956430      7  2061  51.862104   79  Male     Ex-smoker
3  ID00007637202177411956430      9  2144  53.950679   79  Male     Ex-smoker
4  ID00007637202177411956430     11  2069  52.063412   79  Male     Ex-smoker

In [12]:
train.to_csv('/home/guyyos/data/osic_pulmonary_fibrosis.csv',index=False)

In [10]:
train.describe(include='all')

,Patient,Weeks,FVC,Percent,Age,Sex,SmokingStatus
count,1549,1549.000000,1549.000000,1549.000000,1549.000000,1549,1549
unique,176,NaN,NaN,NaN,NaN,2,3
top,ID00105637202208831864134,NaN,NaN,NaN,NaN,Male,Ex-smoker
freq,10,NaN,NaN,NaN,NaN,1224,1038
mean,NaN,31.861846,2690.479019,77.672654,67.188509,NaN,NaN
std,NaN,23.247550,832.770959,19.823261,7.057395,NaN,NaN
min,NaN,-5.000000,827.000000,28.877577,49.000000,NaN,NaN
25%,NaN,12.000000,2109.000000,62.832700,63.000000,NaN,NaN
50%,NaN,28.000000,2641.000000,75.676937,68.000000,NaN,NaN
75%,NaN,47.000000,3171.000000,88.621065,72.000000,NaN,NaN
max,NaN,133.000000,6399.000000,153.145378,88.000000,NaN,NaN

In [13]:
train.Patient.iloc[0]

'ID00007637202177411956430'

In [41]:
temp_df = train[train.Patient.apply(lambda x:x in set(train.Patient.unique()[:100]))].copy()

temp_df['Weeks_f'] = temp_df['Weeks']+0.1

temp_df

,Patient,Weeks,FVC,Percent,Age,Sex,SmokingStatus,Weeks_f
0,ID00007637202177411956430,-4,2315,58.253649,79,Male,Ex-smoker,-3.9
1,ID00007637202177411956430,5,2214,55.712129,79,Male,Ex-smoker,5.1
2,ID00007637202177411956430,7,2061,51.862104,79,Male,Ex-smoker,7.1
3,ID00007637202177411956430,9,2144,53.950679,79,Male,Ex-smoker,9.1
4,ID00007637202177411956430,11,2069,52.063412,79,Male,Ex-smoker,11.1
...,...,...,...,...,...,...,...,...
880,ID00229637202260254240583,38,3603,80.604027,71,Male,Ex-smoker,38.1
881,ID00229637202260254240583,49,3489,78.053691,71,Male,Ex-smoker,49.1
882,ID00229637202260254240583,62,3410,76.286353,71,Male,Ex-smoker,62.1
883,ID00229637202260254240583,78,3355,75.055928,71,Male,Ex-smoker,78.1
884,ID00229637202260254240583,82,3342,74.765101,71,Male,Ex-smoker,82.1

In [42]:
temp_df.dtypes

Patient           object
Weeks              int64
FVC                int64
Percent          float64
Age                int64
Sex               object
SmokingStatus     object
Weeks_f          float64
dtype: object

In [43]:
temp_df.to_csv('/home/guyyos/data/osic_pulmonary_fibrosis100.csv',index=False)

In [26]:
train.Patient.unique()[:100]

array(['ID00007637202177411956430', 'ID00009637202177434476278'],
      dtype=object)

In [40]:
train[train.Patient.apply(lambda x:x in set(train.Patient.unique()[:100]))]

,Patient,Weeks,FVC,Percent,Age,Sex,SmokingStatus
0,ID00007637202177411956430,-4,2315,58.253649,79,Male,Ex-smoker
1,ID00007637202177411956430,5,2214,55.712129,79,Male,Ex-smoker
2,ID00007637202177411956430,7,2061,51.862104,79,Male,Ex-smoker
3,ID00007637202177411956430,9,2144,53.950679,79,Male,Ex-smoker
4,ID00007637202177411956430,11,2069,52.063412,79,Male,Ex-smoker
...,...,...,...,...,...,...,...
880,ID00229637202260254240583,38,3603,80.604027,71,Male,Ex-smoker
881,ID00229637202260254240583,49,3489,78.053691,71,Male,Ex-smoker
882,ID00229637202260254240583,62,3410,76.286353,71,Male,Ex-smoker
883,ID00229637202260254240583,78,3355,75.055928,71,Male,Ex-smoker
884,ID00229637202260254240583,82,3342,74.765101,71,Male,Ex-smoker

In [29]:
train.FVC.unique()

array([2315, 2214, 2061, ..., 2712, 2978, 2774])